<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TELETRANS: {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://kit.fontawesome.com/bd1864252d.js"></script><!-- FontAwesome pour les icones -->

        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a id="header_logo" class="navbar-brand" href="/"><img src="{{ asset('img/logo.png') }}" alt="VTC MONTPELLIER"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="mainNav nav-item {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">
                        <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="mainNav nav-item {% if app.request.attributes.get('_route') == 'prestations' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('prestations') }}">Prestations</a>
                    </li>
                    <li class="form-inline my-2 my-lg-0">
                        <a href="{{ path('reservation') }}"><button type="button" class="btn btn-success"><i id="header_reservButton_car" class="fas fa-car fa-lg"></i> Devis gratuit !</button></a>
                    </li>
                </ul>

                {#
                <div id="header_trajets_div" class="col-md-auto">
                    <span id="header_map" class="fas fa-map-marked-alt"></span>
                    <h6 style="color:#F0F3F4">Trajets</h6>
                    <p>PERIPHERIE MONTPELLIER</p>
			    </div>

                <div class="col-md-2">
                    <span id="header_tel" class="fas fa-phone"></span>
                    <h6 style="color:#F0F3F4">Télephone</h6>
                    <p id="phoneNumber" class="text-hero-desc">06.55.11.22.33</p>
			    </div>
                #}

                {% if not app.user %}
                <li class="form-inline my-2 my-lg-0">
                    <a href="{{ path('customerArea_index') }}"><button type="button" class="btn btn-secondary my-2 my-sm-0">Espace client</button></a>
                </li>
                {% else %}
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon compte
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('customerArea_index') }}">Espace client</a>
                            <a class="dropdown-item" href="{{ path('security_logout') }}"><span style="color: red; ">Deconnexion</span></a>
                        </div>
                    </div>
                    {#
                    <li class="form-inline my-2 my-lg-0">
                        <a href="{{ path('security_logout') }}"><button type="button" class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Deconnexion</button></a>
                    </li>
                    #}
                {% endif %}
            </div>
        </nav>

        {% block bodyOutFromContainer %}
        {% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
